SPRING_DATASOURCE_URL="JDBC url Direct session pooler"
SPRING_DATASOURCE_USERNAME=postgres."yourUserName"
SPRING_DATASOURCE_PASSWORD="yourpassword"

JWT_SECRET_KEY="yourkey"

SUPPORT_EMAIL="yourmailid"
APP_PASSWORD="random"
